.homes {
  grid-column: center-start / center-end; // 3 / 11
  margin: 15rem 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 7rem;

  @media only screen and (max-width: $bp-smallest) {
    margin: 8rem 0;
  }
}

.home {
  background-color: $color-grey-light-1;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 3.5rem;

  &__img {
    width: 100%;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    z-index: 1;
  }

  &__like {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    fill: $color-primary;
    height: 2.5rem;
    width: 2.5rem;
    z-index: 2; //To have future proof that the .like will alwys be ontop of the .img
    justify-self: end; //Placing the icon at the right end side of its grid cell.
    margin: 1rem;
  }

  &__name {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    justify-self: center; //To place it on the center after giving it a width of 80% of the parent's width size.
    align-self: end; //Align self is set to stretch at default, so it taked it to the end
    z-index: 3; //To ensure that the .name is ontop of the grid cell of row 1 / 2, because the .img is placed there too.

    width: 80%;
    font-family: $font-display;
    font-size: 1.6rem;
    text-align: center;
    padding: 1.25rem;
    background-color: $color-secondary;
    color: #fff;
    font-weight: 400;
    transform: translateY(50%);
    //To bring the element down by 50% (half) of its size.
  }

  &__location,
  &__rooms {
    margin-top: 2.5rem; //To create space at the top between the .location and .rooms from the .name.
  }

  &__location,
  &__rooms,
  &__area,
  &__price {
    font-size: 1.5rem;
    margin-left: 2rem;

    display: flex;
    //To put the svg icons, the rooms, the location and the price side by side to each other.
    align-items: center;
    gap: 1rem;

    svg {
      fill: $color-primary;
      height: 2rem;
      width: 2rem;
    }
  }

  &__btn {
    grid-column: 1 / -1;
  }
}
