.sidebar {
  background-color: $color-primary;

  grid-column: sidebar-start / sidebar-end; //(1 / 2)
  grid-row: 1 / -1;

  display: flex;
  justify-content: center; //To center the nav-bar icon.

  @media only screen and (max-width: $bp-large) {
    grid-column: 1 / -1;
    grid-row: 1 / 2;

    justify-content: flex-end; //Placing the menu bar to the far right in this media query.
    align-items: center; //Aligning the menu icon vertically in this query.
  }
}

.btn-nav {
  border: none;
  border-radius: none;
  cursor: pointer;

  background-color: #fff;
  height: 2px;
  width: 4.5rem;
  margin-top: 4.5rem; //pulling the btn-nav to the down for better visibility

  &::before,
  &::after {
    //creating the Before and the After - at the top and below the main -.
    content: "";
    display: block;
    background-color: #fff;
    height: 2px;
    width: 4.5rem;
  }

  &::before {
    //Moving the top - a little higher.
    transform: translateY(-1.5rem);
  }

  &::after {
    //Moving the last - a little below.
    transform: translateY(1.3rem);
  }

  @media only screen and (max-width: $bp-large) {
    margin-top: 0;
    margin-right: 3rem;

    &::before {
      //Moving the top - a little higher.
      transform: translateY(-1.2rem);
    }

    &::after {
      //Moving the last - a little below.
      transform: translateY(1rem);
    }
  }
}
